/* made by fixedOtter on 11.7.2022 */

/******************/
/*   variables /  */
/* color scheming */
/******************/
:root {
  --pink: hotpink;
  --pink-hover: deeppink;
  --green-main: #5BBD86;
  --blue-main: #666CB8;
  --orange-main: #FF977B;
  --yellow-main: #FFDC7B;
  --white: #fff8e7;
  --background: rgb(19, 19, 19);
}

/**************/
/* resets lol */
/**************/

/*
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff8e7;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: default;
}
 */

/*
        _____
    ,-:` \;',`'-,
  .'-;_,;  ':-;_,'.
 /;   '/    ,  _`.-\
| '`. (`     /` ` \`|
|:.  `\`-.   \_   / |
|     (   `,  .`\ ;'|
 \     | .'     `-'/
  `.   ;/        .'
    `'-._____. `
*/

/****************/
/* global stuff */
/****************/

/* nav {
  position: relative;
} */

/* ************* */
/* custom thangs */
/* ************* */

/* #searchBtn {
  width: 100%;
}
.flex {
  margin-left: 0%;

}
.card p {
  padding-right: 0%;
}
.card .cityHistBtn {
  padding: .42rem;
}

main {
  max-width: 70%;
  margin: 0 auto;
}
.center {
  margin: 0 auto;
} */
.flex {
  margin-left: 0%;
}
.flex * {
  padding-left: 0%;
}
#cityTitleHolder {
  padding-left: 2em;
}
.main #mainSect {
  max-width: 88%;
  margin: 0 auto;
  padding: 80px 0 0;
}
@media screen and (min-width: 800px) {
  .main #mainSect {
    max-width: 69%;
  }
}